
<div class=" container">
  <h2 class="text-center">Employee list</h2>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Age</th>
    <th scope="col">Salary</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employee of data$|async" [routerLink]="'../employee-details/'+employee.id">
    <th style="cursor: pointer" scope="row">{{employee.id}}</th>
    <td style="cursor: pointer">{{employee.name}}</td>
    <td class="user-select-none">{{employee.age}}</td>
    <td class="user-select-none"g>{{employee.salary}}</td>
  </tr>
  </tbody>
</table>
</div>
